

    <div class="hexagon-container mt-2">
        <div class="hexagon">
            <div class="faceHexagon front">
                <div class="bg-[#90c5d140] m-2 rounded-2xl backdrop:blur w-[97%]">  <h1 class="text-5xl mb-3 text-[#142B43] font-impact"><span class=" text-[#b89326]">A</span>pi de <span class=" text-[#b89326]">P</span>elículas</h1><p class="text-lg space-x-3 text-[#374A50]">Apí con base de datos creada en imagen docker mysql montada en servidor AWS con docker compose con el back-end en nest front en tailwind con angular con autenticacion y json web token</p>
                </div> 
            </div>

            <div class="faceHexagon back">
                <div class="bg-[#90c5d140] m-2 w-[97%] h-[95%] rounded-2xl backdrop:blur"> <h1 class="text-5xl text-[#142B43] font-impact"><span class=" text-[#b89326]">B</span>andolim</h1><p class="space-x-3 text-[#374A50]">Desarrollo página web reactiva usando angular con bootstrap para el pianista Pedro do Bandolim</p>
                </div>
            </div>
            <div class="faceHexagon right">
                <div class="bg-[#90c5d140] m-2 w-[97%] h-[95%] rounded-2xl backdrop:blur">  <h1 class="text-5xl mb-3 text-[#142B43] font-impact"><span class=" text-[#b89326]">F</span>u <span class=" text-[#b89326]">E</span>ncantar</h1><p class="space-x-3 text-[#374A50]">Desarrollo página web reactiva en angular usando bootstrap conectada a sistema externo de gestión de donaciones www.ty.cl</p>
                </div>
            </div>
            <div class="faceHexagon left">
                
            </div>
            <div class="faceHexagon top">
                <div class="bg-[#90c5d140] m-2 w-[97%] h-[95%] rounded-2xl backdrop:blur">  <h1 class="text-5xl mb-3 text-[#142B43] font-impact"><span class=" text-[#b89326]">M</span>agaldi <span class=" text-[#b89326]">T</span>ango <span class=" text-[#b89326]">C</span>lub</h1><p class="space-x-3 text-[#374A50]">Desarrollo página web reactiva usando angular con bootstrap bla bla bla</p>
                </div>
            </div>
            <div class="faceHexagon bottom">
              
            </div>
        </div>
    </div>


