
    <header [ngStyle]="{'height': initialHeight + 'px'}" class="relative z-50">

       
        <div class="w-full h-screen  pt-40 mx-auto">
           
            <div class="aparecer cube-container mx-auto flex justify-center items-center">
                <div class="cube z-50 top-0">
                <div class="face front z-50"><img src="/cara1.png" ></div>
                <div class="face back z-50 bg-[#5cc0eb]"><div class="bg-[#B6D6DC] w-full h-full"><img src="/carita.png"></div></div>
                <div class="face right z-50">
                 <div class="bg-[#B6D6DC] w-full h-full flex items-end relative">
                    <div class="rounded-full h-5 w-5 bg-red z-50 absolute top-52 left-[185px] bg-[#91c6ff]"></div>
                    <h1 class="absolute top-[-7px] text-[#142B43] text-[2.3rem] font-impact m-auto left-0 right-0 bottom-0 z-50 ">{{mensaje}}</h1>
                    <div class="w-full h-full z-50"><img src="flecha.svg" class=" w-32 top-[128px] left-[-20px] absolute"></div>


                    <div class="roulette  w-full  bg-[#5cc0eb] mb-1 mr-7 border-[#a2dae6] border-4 rounded-full">
  
                        <div class="wheel girar">
                            
                            <div class="wheel-segment">
                                <div class="wheel-text"><img src="/angular.png" class="w-12 mx-auto rotate-[18deg]"></div>
                            </div>
                
                            <div class="wheel-segment">
                                <div class="wheel-text"><img src="/nest.png" class="w-12 mx-auto rotate-[18deg]"></div>
                            </div>
                
                            <div class="wheel-segment">
                                <div class="wheel-text"><img src="/docker.png" class="w-12 mx-auto rotate-[18deg]"></div>
                            </div>
                
                            <div class="wheel-segment">
                                <div class="wheel-text"><img src="/git.png" class="w-12 mx-auto rotate-[18deg]"></div>
                            </div>
                
                            <div class="wheel-segment">
                                <div class="wheel-text"><img src="/tailwind.png" class="w-12 mx-auto rotate-[18deg]"></div>
                            </div>
                
                            <div class="wheel-segment">
                                <div class="wheel-text"><img src="/mysql.png" class="w-12 mx-auto rotate-[18deg]"></div>
                            </div>
                
                            <div class="wheel-segment">
                                <div class="wheel-text"><img src="/js.png" class="w-12 mx-auto rotate-[18deg]"></div>
                            </div>
                
                            <div class="wheel-segment">
                                <div class="wheel-text"><img src="/bootstrap.png" class="w-12 mx-auto rotate-[18deg]"></div>
                            </div>
                
                        </div>
                    
                    </div>
                

                </div></div>
                <div class="face left z-50 bg-[#B6D6DC] w-full h-full"><img src="/hola-saludo.gif" class="bg-[#B6D6DC]"></div>
                <div class="face top z-50"><img src="/carita.png"></div>
                <div class="face bottom z-50"><img src="/carita.png"></div>
                </div>
            </div>
        </div>
    </header>    
     




<div #monedas class="w-full h-[ 1300px] md:h-[500px] grid grid-cols-1 md:grid-cols-3">
    <div class="">
        <div #moneda1  class="scale-50 opacity-0 rounded-full h-40 w-40 mx-auto bg-[#b89326] flex items-center justify-center">
          <div class="rounded-full h-36 w-36 mx-auto bg-[#142B43] flex ">
            <img  src="/engranaje.svg" class="w-[70%] mx-auto">
          </div>
        </div>

        <ul class="px-10 mt-10 list-disc font-impact text-xl text-[#142B43] list-inside  pb-10">
            <li>Creación de Apis con NEST JS</li>
            <li>Autorización y Autenticación</li>
            <li>Uso de JSON WEB TOKEN</li>
            <li>Socket.io</li>
            <li>Documentación de Apis con Swager</li>

        </ul> 
    </div>
    <div class="">
        <div #moneda2 class="scale-50 opacity-0 rounded-full h-40 w-40 mx-auto bg-[#b89326] flex items-center justify-center">
            <div class="rounded-full h-36 w-36 mx-auto bg-[#142B43] flex">
              <img src="/front.svg" class="w-[70%] mx-auto">
            </div>
        </div>

        <ul class="px-10 mt-10 list-disc font-impact text-xl text-[#142B43] list-inside  pb-10">
            <li>Animaciones css</li>
            <li>Manejo de responsividad</li>
            <li>Uso de frameworks</li>
            <li>Angular</li>
            <li>Bootstrap</li>
            <li>Tailwind</li>
            <li>Creación de iconos (Ilustrator)</li>
        </ul> 
        
    </div>
    <div class="">
        <div #moneda3  class="scale-50 opacity-0  rounded-full h-40 w-40 mx-auto bg-[#b89326] flex items-center justify-center">
            <div class="rounded-full h-36 w-36 mx-auto bg-[#142B43] flex">
                <img src="/deploy.svg" class="w-[70%] mx-auto">
            </div>
           
        </div>
        <ul class="px-10 mt-10 list-disc font-impact text-xl text-[#142B43] list-inside  pb-10">
            <li>Despliegue con Docker</li>
            <li>Amazon web services</li>
            <li>Uso de Git y Github</li>
        </ul> 
    </div>
   
</div>



    


<div class=" w-full h-[760px] claseZ relative">
    
    <div class="absolute top-[199.5px] md:top-[130.5px]"><img src="foto1.svg" class="w-24 md:w-56"></div>
    
    <div class="animacion w-[310px] h-[200px] md:w-[500px] md:h-[260px] mb-2 bg-[url('assets/pieza.svg')] bg-cover bg-center mx-auto flex items-center justify-center">
        <h1 class="text-4xl md:text-6xl text-center  font-impact text-[#142B43]  2 "> <span class=" text-white">P</span>ROYECTOS
        </h1>
    </div>





 
 
    <div class=" w-full text-white font-semibold text-center rounded-r-xl bg-[#a2dae68a] mt-24">
          
            
        <div class="w-[90%]  md:h-[700px] h-[440px] mx-auto relative  justify-center align-middle items-center md:translate-y-0 translate-y-[-40px]">

        <button class="absolute right-0 md:right-20 bottom-0 md:bottom-80 w-20 h-20" (click)="cambiarDerecha()"><img src="flechaDerecha.svg" class="opacity-50 hover:opacity-100 claseZ"></button> 
        <button class="absolute left-0 md:left-20  bottom-0 md:bottom-80 w-20 h-20" (click)="cambiarIzquierda()"><img src="flechaIzquierda.svg" class="opacity-50 hover:opacity-100 claseZ "></button>
       
        <div #carrusel class="hexagon-container mx-auto flex justify-center items-center opacity-0">
            <div #hexagon class="hexagon text-center flex items-start" [ngStyle]="{ 
                'transform': 'rotateY(' + rotationDegree + 'deg)', 
                'transition': 'transform 1.5s',
                'transform-origin': 'center' 
            }">
            
                <div class="faceHexagon frontHexagon text-white">
                    <div class=" rounded-2xl w-[97%] h-[50%]">  <h1 class="text-4xl  mb-3 text-white font-impact"><span class=" text-[#b89326]">A</span>pi de <span class=" text-[#b89326]">P</span>elículas</h1><p class="text-lg space-x-3">Apí con base de datos creada en imagen docker mysql montada en servidor AWS con docker compose con el back-end en nest front en tailwind con angular con autenticacion y json web token</p>
                    </div> 
                    <div class="rounded-2xl w-[97%] h-[50%] ">
                        <img src="peliculas.png" class="h-[100%] mx-auto pb-2 rounded-3xl flex items-center">
                    </div>

                </div>
        
                <div class="faceHexagon backHexagon">
                    <div class="w-[97%] h-[50%] rounded-2xl "> <h1 class="text-5xl   font-impact"><span class=" text-[#b89326]">B</span>andolim</h1><p class="space-x-3  ">Desarrollo página web reactiva usando angular con bootstrap para el pianista Pedro do Bandolim</p>
                    </div>
                    <div class="rounded-2xl w-[97%] h-[50%] ">
                        <img src="bandolim.png" class="h-[100%] mx-auto pb-2 rounded-3xl">
                    </div>

                </div>
                <div class="faceHexagon rightHexagon">
                    <div class="w-[97%] h-[50%] rounded-2xl">  <h1 class="text-5xl  mb-3 font-impact"><span class=" text-[#b89326]">F</span>undación <span class=" text-[#b89326]">E</span>ncantar</h1><p class="space-x-3  ">Desarrollo página web reactiva en angular usando bootstrap conectada a sistema externo de gestión de donaciones www.ty.cl</p>
                    </div>
                    <div class="rounded-2xl w-[97%] h-[50%] ">
                        <img src="fundacion.png" class="h-[100%] mx-auto pb-2 rounded-3xl">
                    </div>
                </div>
                <div class="faceHexagon leftHexagon bg-black">
                    <img src="magaldi.png" class="h-[100%] mx-auto pb-2 rounded-3xl opacity-0">
                </div>
                <div class="faceHexagon topHegaxon ">
                    <div class="w-[97%] h-[50%] rounded-2xl ">  <h1 class="text-5xl  mb-3  font-impact"><span class=" text-[#b89326]">M</span>agaldi <span class=" text-[#b89326]">T</span>ango <span class=" text-[#b89326]">C</span>lub</h1><p class="space-x-3  ">Desarrollo página web reactiva usando angular con bootstrap bla bla bla</p>
                    </div>
                    <div class="rounded-2xl w-[97%] h-[50%] ">
                        <img src="magaldi.png" class="h-[100%] mx-auto pb-2 rounded-3xl">
                    </div>
                </div>
                <div class="faceHexagon bottomHexagon bg-black">
                    <img src="magaldi.png" class="h-[100%] w-auto mx-auto pb-2 rounded-3xl opacity-0">
                
                </div>
            
        </div>
    </div>


                
    </div>

</div>





<div #contacto class="w-full h-[750px] md:h-[1000px] pt-[40px]">
    <div #sobre class="translate-x-[-100vw] relative  w-[210px] h-[90px]  md:w-[500px] md:h-[200px] bg-[url('assets/contacto.svg')] bg-cover bg-center mx-auto flex items-center justify-center">

        <h1 class="text-4xl md:text-6xl text-center  claseZ font-impact text-[#142B43]"><span class="text-white ">C</span>ONTACTO
        </h1>
    </div>
    <div class="max-w-xs md:max-w-2xl mx-auto p-3 bg-[#B6D6DC] shadow-md rounded-lg mt-10">
        <h2 class="text-3xl font-semibold text-center text-[#142B43] font-impact pb-4">Formulario de Contacto</h2>
        <form action="https://formspree.io/f/meoaoznn" method="POST" enctype="multipart/form-data">
            <div class="mb-2">
                <input type="text" id="name" name="name" placeholder="Nombre" class="w-full p-3 mt-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-yellow-500" required>
            </div>
            
            <div class="mb-2">
                <input type="email" id="email" name="email" placeholder="Correo Electrónico" class=" w-full p-3 mt-2 border bordr-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-yellow-500" required>
            </div>
            
            <div class="mb-2">
                <input type="text" id="subject" name="subject" placeholder="Asunto" class="w-full p-3 mt-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-yellow-500" required>
            </div>
    
            <div class="mb-2">
                <label for="message" class="block text-[#142B43] font-impact text-2xl text-center">Mensaje</label>
                <textarea id="message" name="message" rows="5" class="w-full p-3 mt-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-yellow-500" required></textarea>
            </div>
    
            <div class="flex justify-center">
                <button type="submit" class="bg-yellow-500 font-bold font-impact text-xl text-[#142B43] p-3 rounded-md hover:bg-yellow-600 focus:outline-none focus:ring-2 focus:ring-yellow-500">Enviar</button>
            </div>
        </form>
    </div>
    
</div>


